*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc{
  height: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 25px;
  padding: 15px;
  background-color: rgb(17, 17, 18);
}

#input{
  grid-column: span 4;
  background-color: rgb(17, 17, 18);
  border: none;
  outline: none;
  padding: 30px 10px;
  font-size: 35px;
  text-align: end;
  color: white;
}

button{
  height: 85px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgb(73, 73, 76);
  color: rgb(0, 166, 255);
  font-size: 30px;
}

button:hover{
  cursor: pointer;
  background-color: rgb(96, 96, 96);
}

.silverbtn{
  background-color: rgb(132, 132, 132);
  color: white;
}

.silverbtn:hover{
  background-color: rgb(92, 92, 92);
}

.bluebtn{
  background-color: rgb(0, 102, 255);
  color: white;
}

.bluebtn:hover{
  cursor: pointer;
  background-color: rgb(0, 87, 187);
}

.equalbtn{
  grid-column: span 2;
  background-color: rgb(0, 108, 232);
  color: white;
}

.equalbtn:hover{
  background-color: rgb(0, 49, 209);
}

@media (min-width: 360px) and (max-width: 440px) {
  .calc{
    height: 100vh;
    width: 100%;
    border-radius: 0px;
    align-items: end;
    padding: 30px 20px;
  }

  button{
    height: 75%;
    font-size: 25px;
  }

  #input{
    font-size: 40px;
  }

}